.card {
    width: 100%;
    height: 300px;
    margin: 10px;
    background-color: #e93329d9;
    padding: 10px;
}

#titulo {
    font-weight: bolder;
    font-size: 2em;
    color: white;
    margin-bottom: 10px;

}

#sinopsis {
    color: white;
    width: 55%;
    float: left;
    font-size: 1.3em;
   
}

#fecha {
    color: white;
}

#imagen {
    float: left;
    margin-right: 10px ;
}

#trailer {
    float: left;

}