<div class="encabezado"><img id ="logo" src="/assets/Logo_101.png"></div>
<div class="encabezado" id="form">
    <form method="get" action="" target="_blank">
        <fieldset>
        <input class="entrada" type="search" name="q" placeholder="" autofocus required><br>
        <b>Busqueda por categoría</b><br> 
            <select class="select" name="as_filetype">
               <option label="Todos" value="" selected="selected"></option>
               <option value="text">Películas</option>
               <option value="text">Series</option>
               <option value="text">Spin-offs</option>
            </select><br>
        <b>Busqueda por plataforma</b><br> 
            <select class="select" name="as_sitesearch">
               <option label="Todos" value="" selected="selected"></option>
               <option value="">Netflix</option>
               <option value="">Disney +</option>
               <option value="">HBO Max</option>
               <option value="">Prime Video</option>
            </select><br>
        <input type="hidden" name="num" value="50"> 
        <input class="botb" type="submit" value="Buscar">  
        </fieldset>  
        </form>
    </div>